$color-primary: #005cc3;
$color-white: #f0f1f4;
$color-light-gray: #a4a5a6;
$color-black: #292929;
$color-dark-gray: #555555;
$color-light-green: #73b222;
$color-link-hover: #c01;

:export {
  primaryColor: $color-primary;
}
