.button {
  position: relative;

  display: grid;
  justify-content: center;
  align-items: center;
  place-items: center;

  width: 180px;
  min-height: 35px;
  max-height: 35px;

  border-radius: 4px;

  color: $color-primary;
  font-size: 15px;

  cursor: pointer;

  border: 1px solid $color-primary;
  background-color: $background-light-gray;

  &:hover {
    background-color: $background-dark-gray;
    border-color: $background-dark-gray;
  }

  &-primary {
    @extend.button;
    border-color: $color-primary;
    color: $color-primary;
    background-color: $color-primary;
  }

  &-ghost {
    @extend.button;
    border-color: transparent;
    color: $color-primary;
    background-color: transparent;

    &:hover {
      text-decoration: underline;
      color: $color-primary !important;
      background-color: transparent;
    }
  }

  &-success {
    @extend.button;
    background-color: transparent;
    border: 1px solid $color-light-green;
    color: $color-light-green;

    &:hover {
      color: $color-white;
      background-color: $color-light-green;
    }
  }

  & > * {
    font-size: inherit;
  }
}

.icon-button {
  @extend.button;

  &-start {
    @extend.button;
    grid-template-columns: 30% 70%;
  }

  &-end {
    @extend.button;
    grid-template-columns: 80% 20%;

    & > span {
      grid-column: 1 / span 1;
      grid-row: 1;
    }

    & > img {
      grid-column: 2 / span 1;
      grid-row: 1;
    }
  }
}
