.main-container {
  @include page-layout($padding: 0px 0px);

  display: flex;

  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

.m-0 {
  margin: 0 !important;
}

.suggestion-text {
  justify-self: center;

  &-container {
    display: grid;
  }
}

.authenticate-form {
  &-container {
    @include center-page;

    max-height: 95vh;
    min-height: 50vh;
    padding: 0 30px 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    border: 1px solid #e4e4e4;
    border-radius: 5px;

    padding-bottom: 25px;
  }

  &-section {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 15px;

    input {
      width: 300px;
      height: 41px;
      padding: 9px 10px 10px;
      border: 1px solid #c9c9c9;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 15px;
      min-width: 0;
      outline: 0;
    }

    input[type='checkbox'] {
      width: 15px;
      height: 15px;
    }

    button {
      font-size: 15px;
      height: 41px;
      max-height: 41px;
    }
  }

  &-title {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 2rem;
    font-weight: 700;
  }

  &-textLine {
    display: block;
    margin: 5px;
    h3 {
      font-size: 15px;
      text-align: center;
      border-bottom: 1px solid #e4e4e4;
      width: 300px;
      position: relative;

      span {
        background-color: #ffffff;
        position: relative;
        top: 10px;
        padding: 0 10px;
      }
    }
  }

  &-login-google {
    width: 300px;
    max-width: 300px;
    background-color: #f14d3a;
    color: #ffffff;
    border: none;

    & > img {
      filter: $svg-filter-white;
    }

    &:hover {
      background: #f14c3ace;
      color: #ffffff;
    }
  }

  &-login-facebook {
    width: 300px;
    max-width: 300px;
    background-color: #3a579a;
    color: #ffffff;
    border: none;

    & > img {
      filter: $svg-filter-white;
    }

    &:hover {
      background: #3a579acd;
      color: #ffffff;
    }
  }

  &-submit {
    width: 300px;
    background: #464d63;
    color: #ffffff;
    border: none;

    &:hover {
      background: #464d63d1;
      color: #ffffff;
    }
  }
}
