.recommended {
  &-container {
    @include main-content-container;

    display: grid;
    max-height: 664px;
    min-height: 664px;

    @include breakpoint-max($bp-md-l) {
     grid-column: 1 / -1;
    }

    &-label {
      @include label(-10px, 40%);
    }
  }

  &-items-container {
    @include fill-container;
    position: relative;
    display: grid;
    grid-column: 1 / -1;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, 140px);
    grid-template-rows: repeat(auto-fit, 200px);
    grid-row-gap: 16px;
    column-gap: 10px;
    color: inherit;

    overflow: hidden;
    max-height: 636px;
    overflow: hidden;

  }

  &-item {
    @include fill-container;

    display: flex;
    flex-direction: column;
    gap: 5px;

    cursor: pointer;
    font-size: 1.2rem;

    &:hover {
      opacity: 0.7;
    }

    &-image {
      @include full-width;
      height: 105px;
    }

    &-title {
      color: $color-primary;
      font-size: 1.1rem;
    }

    &-price {
      color: $color-black;
      font-size: 1.1rem;
    }
  }
}
