.container {
  min-height: 45px;
}

.breadcrumb {
  display: flex;
  flex-direction: row;
}

.item-active {
  color: $color-darker-gray;
  padding: 0 11px 0 5px;
}

.item-inactive {
  &:not(::after) {
    cursor: pointer;
  }

  & > * {
    color: $color-light-gray;

    &:hover {
      color: $color-primary;
    }
  }
}

.item-inactive {
  color: $color-light-gray;
  position: relative;
  padding-right: 11px;
  line-height: 14px;

  &:not(.item-inactive:first-child) {
    padding: 0 11px 0 5px;
  }

  &:hover {
    color: $color-primary;
  }

  &::after {
    position: absolute;
    content: ' ';
    width: 4px;
    height: 10px;
    top: 3px;
    right: 0;
    background: url('../../../public/assets/arrow-right.svg');
    background-repeat: no-repeat;
  }
}
